/* http://meyerweb.com/eric/tools/css/reset/
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block;
}
body {
  line-height: 1;
}
ol, ul {
  list-style: none;
}
blockquote, q {
  quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}

/*
Main Colors

#c9c9c9
#e3e3e3
#9ad3de
#89bdd3
*/


/*
  ========================================
  Custom Styles
  ========================================
*/

body {
  background: #9ad3de;
  background: -webkit-linear-gradient(to right, #89bdd3, #9ad3de);
  background: -moz-linear-gradient(to right, #89bdd3, #9ad3de);
  background: linear-gradient(to right, #89bdd3, #89bdFF);
  color: #e3e3e3;
  font: 300 16px/22px "Lato", "Open Sans", "Helvetica Neue", Helvetica, Arial, sans-serif;
}

h1, h2, h3, h4, th {
  color: #FFF;
}

h1 {
  font-size: 36px;
  line-height: 44px;
}

h2, th {
  font-size: 24px;
  line-height: 44px;
}

h3 {
  font-size: 21px;
}

h4 {
  font-size: 18px;
}

h5 {
  color: #FFF;
  font-size: 14px;
  font-weight: 400;
  text-transform: uppercase;
}

strong {
  font-weight: 400;
}

cite, em {
  font-style: italic;
}

/*
  ========================================
  Links
  ========================================
*/

a {
  color: #FFF;
  text-decoration: none;
}

a:hover {
  color: #c9c9c9;
}

p a {
  border-bottom: 1px solid #dfe2e5;
}

.teaser a:hover h3 {
  color: #a9b2b9;
}

/*
  ========================================
  Clearfix
  ========================================
*/
.group:before,
.group:after {
  content: "";
  display: table;
}

.group:after {
  clear: both;
}

.group {
  clear: both;
  *zoom: 1;
}

/*
  ========================================
  Typography
  ========================================
*/

h1, h3, h4, h5, p {
  margin-bottom: 22px;
}

/*
  ========================================
  Primary header
  ========================================
*/

.logo {
  border-top: 4px solid #FFF;
  float: left;
  margin-left: 10%;
  font-size: 48px;
  font-weight: 100;
  letter-spacing: .5px;
  line-height: 44px;
  padding: 40px 0 22px 0;
  text-transform: uppercase;
}

/*
  ========================================
  Primary header, footer
  ========================================
*/

.primary-footer {
  padding-bottom: 44px;
  padding-top: 44px;
  color: #648880;
  font-size: 14px;
  margin-left: 10%;
}

.primary-footer small {
  float: left;
  font-weight: 400;
}

.primary-header a,
.primary-footer a {
  color: #fff;
}
.primary-header a:hover,
.primary-footer a:hover {
  color: #648880;
}

/*
  ========================================
  Main Body
  ========================================
*/

.primary-body {
  display: inline-block;
  width: 800px;
  //height: auto;
  border: 1px solid #FFF;
  border-radius: 30px;
  margin: 10px 0 50px 20%;
  padding-bottom: 22px;
  text-align: center;
  background-color: rgba(127, 191, 63, 0.1);
}

/*
  ========================================
   Body Header
  ========================================
*/
.body-header {
  display: inline-block;
  padding: 1px 50px;
  margin: 10px 0 20px 0;
  width: auto;
  border-bottom: 1px solid #FFF;

}

/*
  ========================================
   Body Tweets
  ========================================
*/

.primary-body .tweet-list {
  width: 100%;
}

.primary-body .tweet-container {
  display: block;
  margin: 5px 10px;
  padding: 1px;
  width: auto;
  height: 40px;
  border: 1px solid #FFF;
  border-radius: 15px;
  text-align: left;
  background: rgba(0, 0, 0, 0.3);;

}

.primary-body .tweet-handle {
  display: inline-block;
  width: 200px;
  margin: 7px 20px;
  font-size: 20px;
  color: #89eeee;
  position: relative;
  left: 0;
}

.primary-body .tweet-text {
  color: #EFF;
  display: inline;
  left: 0;
  right: 0;
  width: 400px;
  padding-left: 20px;
  text-align: center;
}

/*
  ========================================
   Body buttons
  ========================================
*/

.primary-body btn {
  background-color: #aaa;
  display: inline-block;
}

.auto-update {

}

.refresh {

}

/*
  ========================================
  Navigation
  ========================================
*/

.nav {
  text-align: right;
  margin-right: 10%;
}

.primary-nav {
  font-size: 14px;
  font-weight: 400;
  letter-spacing: .5px;
  text-transform: uppercase;
}

.nav li {
  display: inline-block;
  margin: 20px 10px;
  vertical-align: top;
}

.nav li:last-child {
  margin-right: 0;
}
